<div class="container modal-fullscreen">
  <div class="row justify-content-md-center pt-2 pt-2 background-grey">
    <div class="col col-lg-3">
      <h4>Simple Airbnb</h4>
    </div>
    <div class="col-md-auto">
    </div>
    <div class="col col-lg-2">
      <button type="button" class="btn btn-outline-primary"><%= link_to "New flat", new_flat_path, class:"link-no-underline" %></button>
    </div>
  </div>
</div>
